---
import Logo from "./icons/Logo.astro";
import Menu from "./icons/Menu.astro";
---

<header class="py-4 fixed w-full top-0 z-40 h-[72px] px-5">
    <nav>
        <div class="flex flex-row items-center">
            <a href="/" class="flex flex-row items-center lg:pl-16">
                <Logo color="#ff553e" />
                <h3 class="text-2xl font-space font-semibold ml-2">SnapNotes</h3>
            </a>
            <nav class="hidden lg:flex items-center space-x-10 ml-auto mr-24">
                <a href="/#features" class="hover:text-primary">Features</a>
                <a href="/#pricing" class="hover:text-primary">Pricing</a>
                <a href="/about" class="hover:text-primary">About</a>
                <a href="/contact" class="hover:text-primary">Contact</a>
                <a href="/faq" class="hover:text-primary">FAQ</a>
                <a href="https://snap-notes.vercel.app" target="_blank" class="bg-primary hover:bg-primary/90 text-[#fff] rounded-[14px] py-3 px-5">Go to SnapNotes</a>
            </nav>
            <div class="lg:hidden ml-auto">
                <button id="menu-toggle">
                    <Menu />
                </button>
            </div>
        </div>
    </nav>

    <!-- Mobile menu -->
    <nav id="mobile-menu" class="lg:hidden h-screen hidden bg-[white]">
        <ul class="space-y-4 p-4">
            <li><a href="#features" class="block hover:text-primary">Features</a></li>
            <li><a href="#pricing" class="block hover:text-primary">Pricing</a></li>
            <li><a href="/about" class="block hover:text-primary">About</a></li>
            <li><a href="/contact" class="block hover:text-primary">Contact</a></li>
            <li><a href="/faq" class="block hover:text-primary">FAQ</a></li>
            <li><a href="https://snap-notes.vercel.app" target="_blank" class="block bg-primary hover:bg-primary/90 text-[#fff] rounded-[14px] py-3 px-5 w-2/3">Go to SnapNotes</a></li>
        </ul>
    </nav>
</header>

<script>
    const header = document.querySelector('header');
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    // Toggle mobile menu
    menuToggle?.addEventListener('click', () => {
        mobileMenu?.classList.toggle('hidden');
        mobileMenu?.classList.toggle('block');
    });

    // Add shadow to navbar when user scrolls down
    document.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header?.classList.add("shadow-md", "backdrop-blur-lg");
        } else {
            header?.classList.remove("shadow-md", "backdrop-blur-lg");
        }
    });
    
</script>
