---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 | Page not found">
    <div class="max-w-lg my-0 mx-auto">    
        <h2 class="mt-24 text-xl font-semibold text-[#A299AC] uppercase tracking-widest">404</h2>
        <h1 class="mb-10 font-bold text-6xl text-[#252427] leading-[1]">Page not found.</h1>
        <p class="text-[16px] my-4">We're sorry but it appears that we can't find the page you were looking for. Usually this occurs because of a page that previously existed was removed or you've mistyped the address.</p>
        <a href="/" class="inline-block mt-[3em] p-[10px] text-[#1B1A1A] font-bold border-2 border-[#e7e7e7] hover:border-[#1B1A1A] text-[16px] uppercase tracking-widest">Go back</a>
    </div>
</Layout>
