---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Experience seamless note-taking with SnapNotes. Create, organize, and access your notes from anywhere with ease. Perfect for personal and professional use, SnapNotes ensures your notes stay secure and always at your fingertips." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#FFF8F2]">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		font-family: "onest", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

html.dark ::-webkit-scrollbar-track {
    background: #232121;
}

::-webkit-scrollbar-thumb {
    background: #FF553E;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff3419;
}

::-webkit-scrollbar-thumb:active {
    background: #a71300;
}

/* Selected text */
::selection {
    background-color: #FF553E;
    color: #fff;
}
</style>
